#!/usr/bin/make -f

PYVMOMI_DOC_PKG := python-pyvmomi-doc

export PYBUILD_DESTDIR_python2=debian/python-pyvmomi/
export PYBUILD_DESTDIR_python3=debian/python3-pyvmomi/

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_installdocs:
	dh_installdocs -X.rst
	rsync -a docs/ debian/$(PYVMOMI_DOC_PKG)/usr/share/doc/$(PYVMOMI_DOC_PKG)
